.brandBar {
  display: flex;
  align-items: center;
  //   justify-content: center;

  outline: 2px solid red;

  margin-top: 21px;
}

.brandBar-article {
  font-family: 'Open Sans Bold';
  color: #333333;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;

  margin-top: 0px;
  margin-bottom: 6px;
}

.brandBar .text-describe {
  font-family: 'Open Sans Regular';
  color: #86878b;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;

  margin-top: 0px;
}
