.brandBar {
  border-bottom: 2px solid #b7b7b7;
}
.brandBar-section {
  @media (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 19px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 12px;
  }
}

.brandBar-article {
  font-family: 'Open Sans Bold';
  color: #333333;
  line-height: 1.2;
  font-weight: 900;

  @media (min-width: 1280px) {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 7px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 7px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.brandBar .text-describe {
  font-family: 'Open Sans Regular';
  color: #86878b;
  line-height: 1.4;
  font-weight: 400;

  @media (min-width: 1280px) {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 360px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 300px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.icons {
  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    width: 635px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: space-between;
    width: 500px;
  }
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-around;
  }
}
.icons > i {
  outline: 1px solid red;

  @media (min-width: 1280px) {
    width: 45px;
    height: 45px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 43px;
    height: 43px;
  }

  @media (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}
.brandBar-block {
  @media (max-width: 767px) {
    text-align: center;
  }
}
