.header {
  background: url('../img/building-f.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-block {
  @media (min-width: 1280px) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding-top: 100px;
    padding-bottom: 139px;

    margin-left: 150px;
    margin-right: 150px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 70px;

    margin-left: 80px;
    margin-right: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 40px;

    margin-left: auto;
    margin-right: auto;
  }
}

.header-block-info {
  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    max-width: 512px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-right: 20px;
  }
  @media (max-width: 767px) {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.brand {
  @media (min-width: 1280px) {
    font-size: 77px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 70px;
  }
  @media (max-width: 767px) {
    font-size: 55px;
  }
}

.header-block-form {
  display: flex;
  flex-direction: column;

  @media (min-width: 1280px) {
    max-width: 360px;
    background-color: #ffffff;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    max-width: 300px;
    background-color: #ffffff;
  }
  @media (max-width: 767px) {
    max-width: 300px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}

h1 {
  margin: 0;
}

h1 {
  color: #ffffff;
  font-family: 'Myriad Pro Regular';
  font-weight: 900;

  @media (min-width: 1280px) {
    font-size: 60px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 50px;
  }
  @media (max-width: 767px) {
    font-size: 46px;
  }
}

span {
  font-weight: 100;
  color: #ff8b38;
}

.brand-describe {
  @media (min-width: 1280px) {
    position: relative;
    margin-top: 23px;
    margin-bottom: 73px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Myriad Pro Regular';
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    position: relative;
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Myriad Pro Regular';
  }
  @media (max-width: 767px) {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Myriad Pro Regular';
  }
}

.brand-describe::after {
  @media (min-width: 1280px) {
    content: '';
    position: absolute;
    bottom: -32px;
    left: 0%;
    width: 64px;
    height: 2px;
    background: #ffffff;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0%;
    width: 54px;
    height: 2px;
    background: #ffffff;
  }
}

.header-block-info .text-describe {
  font-family: 'Raleway Light';
  line-height: 1.4;
  color: #ffffff;
  margin-top: 0;

  @media (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 44px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 16px;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
    margin-bottom: 36px;
  }
}

button {
  cursor: pointer;
}

.header-block-info-btn {
  @media (min-width: 1280px) {
    width: 135px;
    height: 42px;
    font-family: 'Open Sans Semibold';
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 120px;
    height: 38px;
    font-family: 'Open Sans Semibold';
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
  }
  @media (max-width: 767px) {
    width: 135px;
    height: 42px;
    font-family: 'Open Sans Semibold';
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
  }
}

.header-block-info-btn:hover {
  background-color: #ff8b38;
}

.header-block-form {
  border-radius: 2px;

  @media (min-width: 1280px) {
    width: 360px;
    height: 362px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 330px;
  }
  @media (max-width: 767px) {
    width: 360px;
  }
}

.header-block-form .text-title {
  padding-top: 17px;
  padding-bottom: 14px;
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'Open Sans Bold';
  font-weight: 900;
  line-height: 1.2;

  color: #333333;
  background-color: #f5f5f5;
  text-align: center;

  @media (min-width: 1280px) {
    font-size: 20px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 18px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.header-block-form span {
  color: #ff8b38;
  font-weight: 900;
}

.header-block-form input {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1280px) {
    width: 285px;
    height: 31px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 265px;
    height: 25px;
  }

  @media (max-width: 767px) {
    width: 265px;
    height: 21px;
  }
}

input {
  box-sizing: border-box;
  padding-left: 14px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #fbfbfb;
  border-right: 1px solid #fbfbfb;
}
input::placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'Open Sans regular';

  color: #bdbdbd;
  margin-left: 10px;
}

input.name {
  @media (min-width: 1280px) {
    margin-top: 29px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-top: 26px;
  }
  @media (max-width: 767px) {
    margin-top: 22px;
  }
}

input.email {
  @media (min-width: 1280px) {
    margin-top: 36px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-top: 32px;
  }
  @media (max-width: 767px) {
    margin-top: 26px;
  }
}

input.password {
  @media (min-width: 1280px) {
    margin-top: 47px;
    margin-bottom: 49px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  @media (max-width: 767px) {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

.header-block-form-btn {
  height: 54px;
  background-color: #ff9b51;
  border: none;
  font-family: 'Open Sans Semibold';
  color: #ffffff;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
}
